@import "tailwindcss";

@theme {
  --font-sans: var(--font-fredoka);
  --font-comic: var(--font-fredoka);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.bg-pattern {
  background-color: #fefce8;
  /* yellow-50 */
  opacity: 1;
  background-image: radial-gradient(#f472b6 1.5px, transparent 1.5px), radial-gradient(#f472b6 1.5px, #fefce8 1.5px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}